<!doctype html>
<html>
  <head>
    <!--title for the about page-->
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <form action="/about" method="GET"></form>
     <!--heading for the about page --> 
    <h1>About <%=forumName%></h1>
    <!--paragraph text for the about page--> 
    <b> Welcome to Forum Flow </b>
    <p>Forum Flow is a vibrant community-driven platform designed for open discussions, diverse opinions, and the sharing of ideas. Our platform is built by the community, for the community. Whether you're here to engage in thoughtful debates, share experiences, seek advice, or simply explore a vast array of topics, Forum Flow is your space to connect, learn, and grow.</p>

    <b> Why Forum Flow? </b>
    <p>At Forum Flow, we believe in the power of conversation. Our platform provides a space where every voice matters. We value inclusivity, respect, and the freedom to express opinions while maintaining a friendly and supportive environment for all users. We encourage you to dive into conversations, discover new perspectives, and build connections with like-minded individuals or those with different viewpoints.</p>

    <b>What Makes Us Different?</b>
    <p>
      <ul>
        <li>Diverse Communities: Explore a wide range of communities, each dedicated to specific interests, hobbies, or topics. Join existing communities or create your own based on your interests.</li>
        <li>Community Moderation: Our dedicated moderators ensure that discussions remain civil, respectful, and aligned with community guidelines.</li>
      </ul>
    </p>

    <b>Join the Conversation</b>
    <p>Whether you're a seasoned contributor or a new member, we invite you to be a part of Forum Flow. Dive into discussions, start threads, ask questions, and contribute to the diverse tapestry of conversations that make Forum Flow the engaging and dynamic platform it is.
      <br>
      <br>
      Thank you for being a part of our community!
      </p>
  </body>
</html>