<!doctype html>
<html>

  <head>
    <!--Welcomes a user to the Shop--> 
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>
    <!--heading to welcome the user to the shop--> 
    <h1>Welcome to <%=forumName%></h1>
    <!--creates a link to access the about-page.ejs file--> 
    <p><a href="about">About <%=forumName%></a></p>
    <!--creates a link to access the search-topics.ejs file--> 
    <p><a href="search">Search For Topics</a></p>
    <!--creates a link to access the topics.ejs file--> 
    <p><a href="topics">List of existing topics</a></p>
    <!--creates a link to access the new-user.ejs file--> 
    <p><a href="adduser">Become A New User</a></p>
    <!--creates a link to access the users.ejs file--> 
    <p><a href="users">See existing users</a></p>
    <!--creates a link to access the existing-posts.ejs file--> 
    <p><a href="viewposts">See current posts</a></p>
    <!--creates a link to access the newpost=page.ejs file--> 
    <p><a href="addpost">Add new posts</a></p>
    <!--creates a link to access the search-posts.ejs file--> 
    <p><a href="search-posts">Search for Posts</a></p>
    

  </body>
</html>